@font-face {
  font-family: grapesoda;
  src: url(grapesoda.ttf) format("truetype");
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  align-items: center;
  background-image: url(galaxy.png);
  background-size: 50vw;
  font-family: grapesoda;
  font-size: 2em;
  text-align: center;
  color: white;
  /*nice and crunchy*/
  -webkit-font-smoothing: none;
  -moz-font-smoothing: greyscale;
  image-rendering: pixelated;
}

a:link, a:visited {
  color: lightgreen;
}
a:hover {
  color: yellow;
}
a:active {
  color: hotpink;
}

.game-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

#bevy {
  z-index: 2;
}
